.main-window-wrapper {
  padding: 24px;
  height: 100vh;
  overflow: hidden;
  background-color: #f9fafb;
  box-sizing: border-box;
}

.board-layout {
  display: flex;
  gap: 24px;
  height: 100%;
  overflow-x: auto;
  justify-content: center;
}
