body {
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #facc15; /* yellow-400 */
  font-weight: bold;
}

.main-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
